In [51]:
import urllib.request
import json
import pandas as pd
from pandas.io.json import json_normalize
from datetime import date, timedelta
from dateutil.relativedelta import relativedelta

In [52]:
import matplotlib.pyplot as plt
from matplotlib import rc
rc('font', family = 'Malgun Gothic')

%matplotlib inline
plt.rcParams['axes.unicode_minus'] = False

In [53]:
key = '70564c7369726172313135416c615451'
start_date = date(2019,1,1)
columns_name = (['USE_MON', 'LINE_NUM', 'SUB_STA_NM', 'PAY_RIDE_NUM', 'FREE_RIDE_NUM',
       'PAY_ALIGHT_NUM', 'FREE_ALIGHT_NUM', 'WORK_DT'])
final_data = pd.DataFrame(columns = columns_name ) # 데이터프레임 생성 - 컬럼명 맞추기
for i in range(1, 25):
    target_date = start_date.strftime('%Y%m')
    url = 'http://openapi.seoul.go.kr:8088/%s/json/CardSubwayPayFree/1/1000/%s/'%(key, target_date)
    result = urllib.request.urlopen(url)
    json_raw_data = result.read()
    json_utf8 = json_raw_data.decode('utf-8')
    json_complete = json.loads(json_utf8)
    monthly_plus_data = pd.DataFrame(json_complete['CardSubwayPayFree']['row'])
    final_data = pd.concat([final_data, monthly_plus_data], ignore_index = True)
    plus_month = relativedelta(months=1) # 월 더하기
    start_date = start_date + plus_month
final_data

,USE_MON,LINE_NUM,SUB_STA_NM,PAY_RIDE_NUM,FREE_RIDE_NUM,PAY_ALIGHT_NUM,FREE_ALIGHT_NUM,WORK_DT
0,201901,경의선,곡산,11758.0,4209.0,11719.0,4073.0,20190203
1,201901,1호선,종로5가,571824.0,275447.0,583955.0,263687.0,20190203
2,201901,1호선,종각,1240810.0,162410.0,1177643.0,152062.0,20190203
3,201901,1호선,청량리(서울시립대입구),463456.0,352121.0,482960.0,357571.0,20190203
4,201901,1호선,서울역,1516452.0,221180.0,1400464.0,211764.0,20190203
...,...,...,...,...,...,...,...,...
15169,202012,중앙선,도심,39346.0,11941.0,29495.0,10917.0,20210103
15170,202012,중앙선,회기,424237.0,86386.0,405759.0,85103.0,20210103
15171,202012,중앙선,도농,168265.0,39617.0,154109.0,38579.0,20210103
15172,202012,중앙선,팔당,15173.0,5036.0,15661.0,4852.0,20210103
15173,202012,중앙선,구리,232951.0,56618.0,238234.0,57343.0,20210103

In [ ]:
# final_data['유임승차'] = final_data['PAY_RIDE_NUM'] /10000
# final_data['무임승차'] = final_data['FREE_RIDE_NUM'] /10000

In [56]:
# final_data.drop(columns= ['PAY_RIDE_NUM', 'FREE_RIDE_NUM', 'WORK_DT'], inplace = True)
final_data[:7978]

,USE_MON,LINE_NUM,SUB_STA_NM,PAY_RIDE_NUM,FREE_RIDE_NUM,PAY_ALIGHT_NUM,FREE_ALIGHT_NUM,WORK_DT
0,201901,경의선,곡산,11758.0,4209.0,11719.0,4073.0,20190203
1,201901,1호선,종로5가,571824.0,275447.0,583955.0,263687.0,20190203
2,201901,1호선,종각,1240810.0,162410.0,1177643.0,152062.0,20190203
3,201901,1호선,청량리(서울시립대입구),463456.0,352121.0,482960.0,357571.0,20190203
4,201901,1호선,서울역,1516452.0,221180.0,1400464.0,211764.0,20190203
...,...,...,...,...,...,...,...,...
7973,201912,중앙선,망우,182610.0,75024.0,174578.0,75724.0,20200103
7974,201912,중앙선,지평,1045.0,643.0,676.0,576.0,20200103
7975,201912,중앙선,회기,776871.0,138653.0,740548.0,137673.0,20200103
7976,201912,중앙선,도농,254011.0,68531.0,219355.0,66085.0,20200103
7977,201912,중앙선,중랑,125798.0,53072.0,117351.0,52160.0,20200103

In [ ]:
final_data.drop(columns= ['PAY_ALIGHT_NUM', 'FREE_ALIGHT_NUM'], inplace = True)
final_data

In [ ]:
# final_data.groupby('LINE_NUM')[['유임승차', '무임승차']].mean()

In [ ]:
final_data2019 = final_data[:7978]
final_data2020 = final_data[7979:]

In [ ]:
final_data2019

In [ ]:
final_data2019 = final_data2019.groupby('LINE_NUM')[['무임승차']].mean()
final_data2019.sort_values(by = '무임승차', axis=0, ascending=True, inplace = True)
final_data2019

In [ ]:
final_data2019.plot(logy = False, ylim=(100, 10000), kind = 'bar', figsize = (10, 6), color = 'Blue')
plt.title('각 호선별 무임승차')
plt.xlabel('역')
plt.ylabel('무임승차건')

In [ ]:
final_data2020 = final_data2020.groupby('LINE_NUM')[['무임승차']].mean()
final_data2020.sort_values(by = '무임승차', axis=0, ascending=True, inplace = True)
final_data2020

In [ ]:
final_data2019.plot(logy = False, ylim=(200, 10000), kind = 'bar', figsize = (10, 6), color = 'Blue')
plt.title('각 호선별 무임승차')
plt.xlabel('역')
plt.ylabel('무임승차건')

In [ ]:
final_data2020.plot(logy = False, ylim=(200, 10000), kind = 'bar', figsize = (10, 6), color = 'magenta')
plt.title('각 호선별 무임승차')
plt.xlabel('역')
plt.ylabel('무임승차건')

In [ ]:
final_data_merge = pd.merge(final_data2019,final_data2020, on = 'LINE_NUM')
final_data_merge

In [ ]:
final_data_merge.columns = ['무임승차2019', '무임승차2020']
final_data_merge

In [ ]:
final_data_merge

In [ ]:
final_data_merge.plot(logy = False, ylim=(0, 10000), kind = 'bar', figsize = (10, 6))
plt.title('각 호선별 무임승차')
plt.xlabel('역')
plt.ylabel('무임승차건')

In [ ]:
final_data.describe()